@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class=" card card-body container col-sm-11 col-md-9 col-lg-8 p-0 ">
    <img src="./img/banerTest.jpg" class="img-fluid banerEstilo" alt="...">

</div>
<div class="row d-flex col-sm-11 col-md-9 col-lg-8 ms-auto me-auto p-0 text-center">
    <div class="card col-lg-6 col-xl-6 d-flex container p-1 m-0 bordeCard">
        <div class="card-header border-2">
            <h4>Noticias</h4>
        </div>
        <div id="noticias" class="card-body conteiner text-start">
            <ul>
                @foreach(Noticia noticia in Model.lstNoticia){
                    <li>
                        <div>
                            <a class="h3 mb-0" asp-controller="Noticias" asp-action="Details" asp-route-id="@noticia.IdNoticia">@Html.DisplayFor(Model => noticia.TituloNoticia)</a>

                            @Html.DisplayFor(modelItem => noticia.NoticiaStatus)

                            <p class="fs-6 text-muted mb-0">@Html.DisplayFor(modelItem => noticia.FechaNoticia)</p>
                        </div>

                    </li>
                }
                <li>noticia</li>
                <li>noticia</li>
                <li>noticia</li>
                <li>noticia</li>
                <li>noticia</li>
            </ul>
        </div>
    </div>
    <div class="card col-lg-6 col-xl-6 d-flex container p-1 m-0 bordeCard">
        <div class="card-header border-2">
            <h4>Eventos</h4>
        </div>
        <div id="eventos" class="card-body conteiner text-start">
            <ul>
                <li>Eventos</li>
                <li>Eventos</li>
                <li>Eventos</li>
                <li>Eventos</li>
                <li>Eventos</li>
            </ul>
        </div>


    </div>
</div>


<div id="divMiniGal" class="row cards d-flex col-sm-11 col-md-9 col-lg-8 ms-auto me-auto text-center imgEstilo">

    <div class="card card-body text-center d-flex col-sm-5 col-md-5 col-lg-2 imgBorde">
        <img src="./img/imgTest.png" class="imgConte" alt="...">
    </div>
    <div class="card card-body text-center d-flex col-sm-5 col-md-5 col-lg-2 imgBorde">
        <img src="./img/imgTest.png" class="imgConte" alt="...">
    </div>
    <div class="card card-body text-center d-flex col-sm-5 col-md-5 col-lg-2 imgBorde">
        <img src="./img/imgTest.png" class="imgConte" alt="...">
    </div>
    <div class="card card-body text-center d-flex col-sm-5 col-md-5 col-lg-2 imgBorde ">
        <img src="./img/imgTest.png" class=" imgConte" alt="...">
    </div>


</div>
<div class=" card card-body container col-sm-11 col-md-9 col-lg-8 p-0">
    <img src="./img/banerTest.jpg" class="img-fluid banerEstilo" alt="...">
</div>