@{
    ViewData["Title"] = "Privacy Policy";
}
<div class=" card card-body container col-sm-11 col-md-9 col-lg-8 p-0 ">
    <img src="/img/banertest2.jpg" class="img-fluid banerEstilo" alt="...">
</div>
<h1 class="text-center container-fluid dEncabezado display-4 text-black"><b>Servidor 7 Days to die!</b></h1>

<hr>
<div class="container mx-auto">
    <div class="row">
        <div class="me-3 columna1 mt-2 p-2 col-12 border border-dark text-black border-5 conteInfo">
            <h1 class="text-center conteInfo2"> Informacion del Servidor</h1>
            <ul class="text-center" style="list-style-type: none;">

                <h5>
                    <b>
                <li class="m-1">[Latino] Hooligans Force</li>
                <li class="m-1"> IP: 192.169.89.114</li>
                <li class="m-1">PUERTO: 26900</li>
                <li class="m-1">DISCORD: https://discord.gg/fCQ6tPD</li>
                <li class="m-1">Dificultad: Demente (INSANE)</li>
                <li class="m-1">Experiencia: 100% (150% de 1 al 100).</li>
                <li class="m-1">Loot chance: 100%</li>
                <li class="m-1">
                    PVP los domingo con base protegida (el pvp es para eventos y pasar el rato)
                </li>
                <li class="m-1">Soltar al Morir: Nada</li>
                <li class="m-1">Salud del Cubos de territorio: Infinita</li>
                <li class="m-1">Números de Cubos de territorio: 9</li>
                <li class="m-1">Espacio de Cubo de territorio: 41 x 41</li>
                </b>
                </h5>

            </ul>
        </div>
    </div>
    <hr>
    <div class="row p-0">
        <!--Aqui va informacion extensa por agregar, lorem por lo pronto! :D-->
        <div class="columna1 col-sm-4">
            <p class="text-center">
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <b>Tienda del Puntos</b>
                </a>
            </p>

        </div>
        <div class="columna2 col-sm-4 mb-0">
            <p class="text-center">
                <a class="btn btn-dark mb-0" data-bs-toggle="modal" data-bs-target="#Modal2" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <b>Comandos del Servidor</b>
                </a>

            </p>
        </div>
        <div class="columna3 col-sm-4">
            <p class="text-center">
                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modal3" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <b> Items de Donacion</b>
                </a>
            </p>

        </div>
    </div>
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header me-auto ms-auto">
                    <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Tienda del Puntos</h1>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium animi dolorum laborum,
                    saepe nesciunt ipsa eaque odit voluptatum veritatis, quo facilis reiciendis recusandae explicabo
                    magnam! Itaque enim voluptas fugit asperiores!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header me-auto ms-auto">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Comandos del Servidor</h1>
                </div>
                <div class="modal-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nihil obcaecati pariatur
                    ratione quo incidunt? Possimus, doloremque debitis optio, harum minima sunt magnam magni
                    similique, iusto sit repellat natus recusandae.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header me-auto ms-auto">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Items de Donacion</h1>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eaque distinctio obcaecati est
                    vero reprehenderit, iure eligendi harum, neque veritatis aliquid animi praesentium, libero dolor
                    quam. Ipsa fugiat itaque velit.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="columna1 col-lg-4 col-12 text-center ">
                    <div class="card bg-secondary">
                        <h5 class="card-header h4"><b>Mapas del Servidor!</b></h5>
                        <div class="card-body">
                            <h5 class="card-title">Mapa de localizacion!</b></h5>
                            <a href="http://192.169.89.114:5402/static/index.html" class="btn btn-success "
                               target="_blank">Localizacion</a>
                            <p></p>
                            <h5 class="card-title">Mapa de Zonas de reinicio!</b></h5>
                            <a href="http://192.169.89.114:5403/static/index.html" class="btn btn-success"
                               target="_blank">
                                Zonas de
                                reinicio
                            </a>
                        </div>
                    </div>


                </div>
                <div class="columna2 col-lg-4 col-12 text-center">
                    <div class="card bg-secondary">
                        <h5 class="card-header h4"><b>Vota por el servidor!</b></h5>
                        <div class="card-body">
                            <h5 class="card-title">Consigue recompensas al votar!</b></h5>
                            <p class="card-text">
                                Con cada votacion podras recibir recompensas in game!
                            </p>
                            <a href="https://7daystodie-servers.com/server/90295/" class="btn btn-primary"
                               target="_blank">Votar!</a>
                        </div>
                    </div>
                </div>
                <div class="columna3 col-lg-4 col-12 text-center">
                    <div class="card bg-secondary">
                        <h5 class="card-header h4"><b>Donaciones!</b></h5>
                        <div class="card-body">
                            <h5 class="card-title">Apoya a nuestro servidor!</b></h5>
                            <p class="card-text">
                                Como agradecimiento por donar se te daran items especiales en el
                                servidor!
                            </p>
                            <a href="https://www.paypal.com/paypalme/pagaleamalenxd" class="btn btn-info"
                               target="_blank">Paypal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>




</div>