@model Proyecto_Final.Models.dbModels.Evento

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Evento Del Servidor</h4>
    <hr />
    <div class="card container mx-auto p-0">
        <div class="card-header">
            <div class="row mx-1 ">
                Evento: <h4 class="col mb-0">@Html.DisplayNameFor(model => model.TituloEvento) </h4>
                <span class="col mb-0">@Html.DisplayFor(model => model.EstatusEvento)</span>
                <span class="text-end col mb-0">@Html.DisplayFor(model => model.FechaEvento) </span>
            </div>
           
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.ContenidoEvento)
        </div>
    </div>    
</div>
<div class="text-end">
    <a asp-action="Edit" asp-route-id="@Model?.IdEvento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
