@model Proyecto_Final.Models.dbModels.Publicacione

@{
    ViewData["Title"] = "Create";
}

<hr />
<h1 class="text-center">Crear Galeria</h1>
<hr />

<div class="row">
    <div class="col-md-6 card mx-auto">
        <partial name="_AdminPubCreateButtons"/>        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
