@model Proyecto_Final.Models.dbModels.Publicacione

@{
    ViewData["Title"] = "Details";
}


<div class=" card container col p-0 ">
    <img src="~/img/banertest2.jpg" class="img-fluid banerEstilo" alt="...">
</div>
<div class="container">

    <div class="card text-center mt-1 d-flex p-1 conteEstilo">
        <div class="card-header text-center bg-dark text-white">
            <h4><i class="fa-solid fa-earth-americas mx-2"></i>@Html.DisplayFor(model => model.Titulo)</h4>
        </div>
        <img src="@Html.DisplayFor(model => model.FotoPath)" class="imgPubli py-1" alt="...">

        <div class="card-footer row m-0 border-2">
            <b class="col-6 text-start p-0 m-0"> <i class="fa-solid fa-user mx-2 text-start p-0 m-0"></i>Por: @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)</b>
            @*<div class="col text-start">Aqui va el estatus</div>*@
            <p class="col-3 me-4 text-lg-end mb-0"> <i class="fa-solid fa-calendar-days p-0 m-0 mx-1"></i>@Html.DisplayFor(model => model.FechaPublicacion)</p>

        </div>
    </div>
    <div class="text-center mb-2">        
        <a class="btn col-12 btn-dark " asp-action="Galeria">Volver a Galeria</a>
    </div>
</div>
<div class=" card card-body container col p-0 ">
    <img src="~/img/banertest2.jpg" class="img-fluid banerEstilo" alt="...">
</div>



