@using Microsoft.AspNetCore.Identity
@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager
@model Proyecto_Final.Models.dbModels.Publicacione


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <form asp-action="Create" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>        
        <div class="form-group text-center my-2">
            <label asp-for="Titulo" class="control-label">Titulo</label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group text-center mb-3">
            <label asp-for="FotoPath" class="control-label">Foto por URL</label>
            <input asp-for="FotoPath" class="form-control" />
            <span asp-validation-for="FotoPath" class="text-danger"></span>
        </div>
        <div class="form-group mt-1 card-footer text-center">
            <input type="submit" value="Crear" class="btn btn-primary" /> 
            <div>
                <a class="btn btn-danger my-2 " asp-controller="Publicaciones" asp-action="Index">Cancelar</a>
            </div>            
        </div>        
    </form>
}
else
{    
    <form asp-action="CreateUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group text-center my-2">
            <label asp-for="Titulo" class="control-label">Titulo</label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group text-center mb-3">
            <label asp-for="FotoPath" class="control-label">Foto por URL</label>
            <input asp-for="FotoPath" class="form-control" />
            <span asp-validation-for="FotoPath" class="text-danger"></span>
        </div>
        <div class="form-group mt-1 card-footer text-center">
            <input type="submit" value="Crear" class="btn btn-primary" />
            <div>
                <a class="btn btn-danger my-2 " asp-controller="Publicaciones" asp-action="Galeria">Cancelar</a>
            </div>
        </div>
    </form>
}


