@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header class="cardVot my-5 container p-2">
    <h1 class="text-danger text-center"><b>@ViewData["Title"]</b></h1>
    <p class="text-danger text-center"><b>No cuentas con los permisos para esta Acción</b></p>
    <div class="text-center">
        <a class="imgPerfil" asp-area="" asp-controller="Home" asp-action="Index"><p><img src="~/img/hfLogo.png" alt="" height="62" width="65" class="rounded-circle imgPerfil text-center"></p><p class="btn btn-dark">Volver al Inicio</p></a>
    </div>
   
</header>
