@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container my-3">
    <div class="card col-lg-10 col-sm-12 me-auto ms-auto cardVot">
        <form id="account" class="col-sm-12 col-md-12 col-lg-12 col-xl-10 text-center me-auto ms-auto m-4" method="post">
            <div class="col-6 col-sm-5 col-md-4 col-lg-3 text-center me-auto ms-auto m-4" >
                <img src="~/img/hfLogo.png" class="img-fluid banerEstilo mx-auto imgPerfil imgLogin" alt="...">
            </div>
            <div class="card card-header border-2 border-white my-2 mx-5">
                <h2 class="m-3 text-center text-white">Iniciar Sesion en Hooligan Force.</h2>
            </div>
            <div class="row">
                <div class="card-header me-auto ms-auto col-11 col-lg-9 text-black">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating col-sm-10 col-12 mx-auto">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username"
                               aria-required="true" />
                        <label asp-for="Input.Email" class="form-label">Correo Electronico</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-header me-auto ms-auto col-11 col-lg-9 text-black">
                    <div class="form-floating col-sm-10 col-12 mx-auto">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                               aria-required="true" />
                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox text-white">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Recordarme
                        </label>
                    </div>
                    <div class="text-center">
                        <button id="login-submit" type="submit"
                                class="w-50 btn btn-lg btn-light col-10 btnLogin">
                            Iniciar Sesion
                        </button>
                    </div>
                    <div class="text-white text-center p-2">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                <b class="h5 noLink">
                                    Registrarse
                                    como nuevo
                                    usuario?
                                </b>
                            </a>
                        </p>
                    </div>
                </div>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

