@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container my-3 mx-auto">
    <div class="card col-lg-10 col-sm-12 me-auto ms-auto cardVot">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-sm-12 col-md-12 col-lg-12 col-xl-10 text-center me-auto ms-auto m-4">
            <div class="col-6 col-sm-5 col-md-4 col-lg-3 text-center me-auto ms-auto m-4">
                <img src="~/img/hfLogo.png" class="img-fluid banerEstilo mx-auto imgPerfil imgLogin" alt="...">
            </div>
            <div class="card card-header border-2 border-white my-2 mx-5 ">
                <h2 class="m-3 text-center text-white">Crear una cuenta en Hooligan Force.</h2>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mx-auto my-3 col-11 col-lg-8">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mx-auto mb-3 col-11 col-lg-8">
                <input asp-for="Input.Nombre" class="form-control" aria-required="true" />
                <label asp-for="Input.Nombre"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mx-auto mb-3 col-11 col-lg-8">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                       aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mx-auto mb-3 col-11 col-lg-8">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                       aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center my-3">
                <button id="registerSubmit" type="submit"
                        class="w-30 btn btn-lg btn-light col-5 btnLogin">
                    Registrarse
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
