@model Proyecto_Final.Models.DTO.NoticiaCreateDTO
@{
    ViewData["Title"] = "Create";
}

<hr />
<h1 class="text-center">Crear Nueva Noticia</h1>
<hr />

<div class="row">
    <div class="col-md-6 card mx-auto">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group text-center my-2">
                <label asp-for="tituloNoticia" class="control-label">Titulo</label>
                <input asp-for="tituloNoticia" class="form-control" />
                <span asp-validation-for="tituloNoticia" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-2">
                <label asp-for="contenidoNoticia" class="control-label">Contenido de la Noticia</label>
                <textarea asp-for="contenidoNoticia" class="form-control" rows="10"></textarea>
                <span asp-validation-for="contenidoNoticia" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>            
            <div class="form-group card card-footer mb-2">
                <input type="submit" value="Crear" class="btn btn-primary mb-1 col-6 mx-auto" />
                <a class="btn btn-danger col-6  mx-auto" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}