@{
    ViewData["Title"] = "Votaciones";
}

<div class=" card card-body container col p-0">
    <img src="~/img/banertest2.jpg" class="img-fluid banerEstilo" alt="...">
</div>


<div class="container my-3">
    <div class="card col-lg-10 col-sm-12 me-auto ms-auto cardVot">
        <div class="card card-header border-2 border-white my-2 mx-2">
            <h2 class="text-center text-white">
                Votaciones
            </h2>
        </div>
        <div class="row">
            <div class="card-header me-auto ms-auto col-11 col-lg-9 border border-dark text-black border-5 conteVot">
                <h1 class="text-center conteInfo2 ">
                    <i class="fa-solid fa-trophy bg"></i> Top Votadores <i class="fa-solid fa-trophy"></i></i>
                </h1>
                <h1 class="text-center">
                    Aqui va el API de Votaciones
                </h1>

                <ul class=" text-start" style="list-style-type: none;">
                    <h2>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    </h2>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card me-auto ms-auto col-9 my-2 border-dark border-5">
                <h3 class="text-center card-header border-3">Premios por votar!</h3>
                <ul class="my-3 " style="list-style-type: none;">
                    <li><i class="fa-solid fa-star"></i>A</li>
                    <li><i class="fa-solid fa-star"></i>B</li>
                    <li><i class="fa-solid fa-star"></i>C</li>
                </ul>
                <a href="https://7daystodie-servers.com/server/90295/" class="btn btn-primary me-auto ms-auto p-2 my-3 col border-secondary border-2 bg-secondary btnVotar"
                   target="_blank">Votar por el servidor</a>
            </div>
        </div>
    </div>
    <hr>
