@{
    ViewData["Title"] = "Votaciones";
}

<div class=" card card-body container col p-0">
    <img src="~/img/banertest2.png" class="img-fluid banerEstilo" alt="...">
</div>


<div class="container my-3">
    <div class="card col-lg-10 col-sm-12 me-auto ms-auto cardVot">
        <div class="card card-header border-2 border-white my-2 mx-2">
            <h2 class="text-center text-white">
                Votaciones
            </h2>
        </div>
        <div class="row">
            <div class="card-header me-auto ms-auto col-11 col-lg-11 border border-dark text-black border-5 conteVot">
                <h1 class="text-center conteInfo2 ">
                    <i class="fa-solid fa-trophy bg"></i> Top Votadores <i class="fa-solid fa-trophy"></i>
                </h1>
                <div class="row">

                    <div class="col text-center m-2">
                        <h2>Previo Mes</h2>
                        <table class="votTable" id="divVotosPrev">
                            <tr class="voteTr cardVot text-white">
                                <th class="voteTh text-center"><b>Votos</b></th>
                                <th class="voteTh text-center"><b>Jugador</b></th>
                            </tr>                            
                        </table>
                    </div>
                    <div class="col text-center m-2">
                        <h2>Mes Actual</h2>
                        <table class="votTable" id="divVotos">
                            <tr class="voteTr cardVot text-white">
                                <th class="voteTh text-center">Votos</th>
                                <th class="voteTh text-center">Jugador</th>
                            </tr>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card me-auto ms-auto col-9 my-2 border-dark border-5 bg-dark conteVot p-0">
                <h3 class="text-center card-header border-3">Premios por votar!</h3>
                <ul class="my-3 text-center p-0" style="list-style-type: none;">
                    <li><i class="fa-solid fa-star"></i> <b>Primer lugar: <i class="fa-solid fa-star"></i></b><p><b>Lingote de platino o Dos notas rojas</b><p><!--<img src="./img/hfLogo.png" height="20" width="20">--></li>
                    <li><i class="fa-solid fa-star"></i> <b>Segundo al quinto lugar: <i class="fa-solid fa-star"></i></b><p><b>Kit de Minerales</b><p><!--<img src="./img/hfLogo.png" height="20" width="20">--></li>
                    <li><i class="fa-solid fa-star"></i> <b>Sexto al decimo lugar <i class="fa-solid fa-star"></i></b><p><b>Kit de participacion</b><p><!--<img src="./img/hfLogo.png" height="20" width="20">--></li>
                </ul>
               
                <a href="https://7daystodie-servers.com/server/90295/" class="btn btn-primary me-auto ms-auto p-2 my-3 col border-secondary border-2 bg-secondary btnVotar"
                   target="_blank">Votar por el servidor</a>
            </div>
        </div>
    </div>
    </div>
    <hr>
